<!DOCTYPE html>
<html lang="en">
  <% include includes/head.ejs %>
  <body>
 <div class="container">

      <div class="jumbotron">
        <h1>This page should require a login</h1>
      </div>

    </div> <!-- /container -->
  <% include includes/scripts.ejs %>
  </body>
</html>